<div id="aboutBackground">
  <div class = "container">
  
<h1 id="aboutHeader">About...</h1><br>
<div class="col-md-6 row"><br>

VetConnect was created for Veterans by Veterans to build a supportive community of the men and women who have served and/or thinking about serving in the United States Military. Veterans can take advantage the myriad of resources provided and also contribute to the mission of supporting thousands of Veterans. 
Perspective recruits have the opportunity to link up with a mentor and ask relative questions about military life such as "What is Bootcamp like?" or questions relating to jobs of interest.
All members can join a discussion forum to ask,answer and start topics in areas like prior experiences or current events concerning the military community.

<br><br>

**Sign up now and get 10% off GoGo'NowNow**
</div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
<br><br>
</div>

</div>