
<div id="gogoBackground">

<div class="container">

  <br><br> <br><br>
  <center><h1 id="gogoHeading">Go Go Now Now!!</h1></center>

 <center> <h1 id="mvpHeader">August 2017 MVP CLIENT!!!</h1>
  
  <button ng-click="toggle()">Show MVP</button>
  
  <p ng-show="myVar" id="mvpText">
<img src="./../images/mvp.jpg"><br>
Taylor "Big Daddy" Thomas
  </p>
  




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<a href="http://localhost:8080/#/"><button> Just Kidding </button></a>

</div>
</div>