<div id="homeBackground">

<div class="container">



    <div class = "row">
        <br><br>
        <h1 id="homeHeading">Join Vet Connect</h1>
        <a ui-sref="newUsers"><button id="button1">JOIN!</button> </a>
        <br><br><br><br>
        
        <p>Learn More (click below):</p> 
    
        <div class="col-md-3"><a href="http://www.goarmy.com" target="_blank"><img src="./images/army.png"></div>
        <div class="col-md-3"><a href="http://www.airforce.com" target="_blank"><img src="./images/airForce.png"></div>
        <div class="col-md-3"><a href="http://www.marines.com" target="_blank"><img src="./images/marine.png"></div>
        <div class="col-md-3"><a href="http://www.navy.com" target="_blank"><img src="./images/navy.png"></div>
        </div> 
       

    </div>

</div>
<!-- END CONTAINER -->